*.o
*.mk
*.cyclo
*.su
*.su
*.o
*.mk
SMU_Code/Debug/makefile
*.bin
*.elf
*.hex
*.list
*.map
*.d
*.launch
*.pbi
*.xcl
*.dep
*.ninja
*.out
*.sim
*.log
*.bat
*.ps1
*.crun
*.dbgdt
*.dnx
*.reggroups
*.wsdt
*.xml
*.json
*.ninja_deps
SMU_Code/Release/makefile
